.seance__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:16px 24px;
    width:100%;
    max-width: 1024px;
    border-bottom: 1px solid var(--border-gray, #E3E8F2);

    &-title{
        display: flex;
        align-items: center;  
        cursor: pointer;  
    }

    &-title::before{
        content:'';
        display: block;
        background: url('./../../assets/images/arrow-left.svg');
        width: 16px;
        height: 16px;
        margin-right: 8px;
    }
}

