.seat{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 34px;
    height: 24.933px;   
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    cursor: pointer;

    &-free{
        background: url('../../assets/images/seat-free.svg');
        color: var(--text-dark-gray, #464F60);
    }

    &-sold{
        background: url('../../assets/images/seat-buy.svg')!important;
        color: var(--text-dark-gray, #464F60);
    }

    &-reserved{
        background: url('../../assets/images/seat-reserved.svg')!important;
        color: var(--text-dark-gray, #464F60);
    }

    &-loveSeats {
        background: url('../../assets/images/seat-love.svg');
        color: var(--text-dark-gray, #464F60);
    }

    &-vip {
        background: url('../../assets/images/seat-vip.svg');
        color: var(--text-dark-gray, #464F60);
    }

    &-selected{
        background: url('../../assets/images/seat-selected.svg');
        color: var(--text-white, #FFF);
    }

    &-empty{
        display: none;
    }
    
    &__col{
        display: flex;
        justify-content: center;
        padding-top: 1px;
    }
}

