.seance__tariffs{
    padding-top: 12px;
    padding-left: 16px;
    display: flex;
    align-items: center;
    gap:32px;
    overflow-x: scroll;
    border-radius: 8px;
    background: var(--background-light-gray, #F8F9FC);
}