.seance__details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 10px;

    &-time{
        color: var(--text-black, #222834);
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        margin-bottom: 4px;
    }

    &-wrapper{
        display: flex;
        align-items: center;
        gap: 24px;
    }

    &-hall, &-lang{
        color: var(--text-dark-gray, #464F60);
        font-size: 14px;
        font-weight: 600;
        line-height: 18px;
    }

    &-lang{
        display: flex;
        align-items: center;
        gap:4px;
    }
    
    &-hall-name, &-lang-name{
        color: var(--text-gray, #83868B);
        font-size: 14px;
        font-weight: 600;
        line-height: 18px;
        margin-right: 4px;
    }

    &-hall-type{
        color: var(--text-white, #FFF);
        text-align: center;
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
        border-radius: 4px;
        background: var(--background-dark, #222834);
        padding:2px 6px;
        margin-left: 4px;
    }

    &-lang-icon{
        display: flex;
        align-items: center;
    }

    &-lang-icon::before{
        content:'';
        display: block;
        background-size: cover;
        width: 15px;
        height: 15px;
        object-fit: cover;
        margin-right: 4px;
    }

    &-left{
        &-name{
            color: var(--text-gray, #83868B);
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
            margin-bottom: 2px;
        }

        &-time{
            color: var(--text-black, #222834);
            font-size: 14px;
            font-weight: 600;
            line-height: 18px;
        }
    }
}