.seance__map{
    display: flex;
    overflow-x: scroll;

    &-screen{
        margin-top: 16px;
        text-align: center;
        max-height: 71px;

        &-title{
            color: var(--text-dark-gray, #464F60);
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
            text-align: center;
            position: relative;
            bottom:50px;
        }
    }

    &-rows{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 22.5px;
    }
}

.seats__row{
    display: flex;
    justify-content: center;
    gap:8px;
    margin-bottom: 16px;

    &:last-child{
        margin-bottom: 0;
    }
}